*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* background colors  */
  --cream: #f3eed9;
  --brown: #824936;
  --black: #222c2a;
}

body {
  background-color: seashell;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.header {
  width: 80%;
}

.section {
  display: flex;
  padding: 10vh;
  max-width: 1128px;
  min-width: 600px;
}

.heading1 {
  font-family: "Playfair Display", serif;
  font-size: 60px;
}

.heading2 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
}

.heading-brown {
  color: var(--brown);
  text-align: center;
}

.heading-cream {
  color: var(--cream);
}

.section1 {
  background-color: var(--cream);
  min-height: 660px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section2 {
  flex-direction: column;
  gap: 2rem;
}

.section3 {
  background-color: var(--black);
  color: seashell;
  gap: 2rem;
}

.section4 {
  background-color: var(--brown);
  color: seashell;
  gap: 2rem;
}

.p {
  display: flex;
  gap: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 1.75rem;
}

img {
  max-width: 100%;
}
