*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-size: 10px;
  background: #252525;
}

:root {
  /* color */
  --darker: #2e323f;
  --dark: #3b4050;
  --grey: #6f737f;
  --white: #ffffff;
  --offwhite: #e7e5e5;
  --biege: #a59678;

  /* fonts */
  --content: "Montserrat", sans-serif;
  --head: "Oswald", sans-serif;

  /* font size */
  --font-90: clamp(3rem, 8vw, 90px);
  --font-36: clamp(1.5rem, 2.8vw, 36px);
  --font-30: clamp(1.3rem, 2.3vw, 30px);
  --font-24: clamp(1.15rem, 1.9vw, 24px);
  --font-21: clamp(1rem, 1.7vw, 21px);
  --font-18: clamp(0.9rem, 1.5vw, 18px);
  --font-16: clamp(0.8rem, 1.3vw, 16px);
}

img {
  max-width: 100%;
}

h1,
h2 {
  font-family: var(--head);
  line-height: 1;
}

p {
  font-family: var(--content);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* patterns  */
.max {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 4rem 0;
}

.description-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.section__title--biege {
  color: var(--biege);
}

.section__title--white {
  color: var(--white);
}

/* nav bar */
.header {
  background: var(--darker);
  padding: 1.5em 0 1em;
  text-align: center;
}

.nav {
  width: 100%;
  visibility: hidden;
  height: 0;
  font-size: var(--font-21);
  font-family: var(--head);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: var(--darker);
  color: var(--white);
  transition: opacity 250ms ease;
  position: absolute;
  left: 15px;
  top: 8px;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: var(--white);
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-content: space-around;
}

.nav__link {
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link--button {
  padding: 0.25em 0.75em;
  background: var(--biege);
  color: var(--white);
  border-radius: 100px;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.65;
}

/* hero */
.hero {
  background: var(--dark);
  color: var(--white);
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero span {
  color: var(--biege);
}

.hero__title {
  font-size: var(--font-90);
}

.hero__subtext {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hero p {
  font-size: var(--font-24);
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 900;
  background-color: var(--biege);
  font-family: var(--head);
  font-size: var(--font-24);
  padding: 0.4em 1.5em;
  border-radius: 100px;
  width: max-content;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

/* section1 */
.section1 {
  background: var(--offwhite);
}

.section1__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section1 h2 {
  font-size: var(--font-30);
}

.section1 p {
  font-size: var(--font-18);
}

/* section2 */
.section2 {
  background: var(--white);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.section2__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.section2 h2 {
  font-size: var(--font-36);
}

.section2 p {
  font-size: var(--font-21);
}

/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar__box {
  display: flex;
  flex-direction: column;
  background: var(--dark);
  color: var(--white);
  border-radius: 15px;
  gap: 1rem;
  padding: 1.5rem 2rem;
}

.sidebar h2 {
  font-size: var(--font-30);
}

.sidebar p {
  font-size: var(--font-18);
}

/* footer */
.footer {
  background: var(--dark);
  color: var(--white);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__title {
  font-size: var(--font-36);
  text-align: center;
  margin-bottom: 1rem;
}

.footer__details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer h3 {
  font-size: var(--font-21);
}

.footer p {
  font-size: var(--font-16);
}

.footer__linkwrap {
  display: flex;
  gap: 1.5rem;
}

.footer__links {
  font-size: var(--font-16);
}

/* media queries */
@media (min-width: 700px) {
  .container {
    padding: 5.8rem 0;
  }

  .section1__wrapper {
    flex-direction: row;
  }

  .sidebar {
    flex-direction: row;
    gap: 0.5rem;
  }
}

@media (min-width: 1000px) {
  .container {
    padding: 6.5rem 0;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .header-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
  }

  .nav-toggle {
    visibility: hidden;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2.5rem;
    visibility: visible;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  .nav__link {
    font-size: 16px;
  }

  .nav__link--button {
    padding: 0.2rem 1rem;
  }

  .hero__title {
    flex-basis: 50%;
  }

  .hero__subtext {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: flex-end;
  }

  .section1__wrapper {
    justify-content: space-between;
  }

  .description-box {
    flex-basis: 28%;
  }

  .section2__wrapper {
    justify-content: space-between;
  }

  .content {
    flex-basis: 55%;
  }

  .sidebar {
    flex-direction: column;
    flex-basis: 35%;
  }

  .footer-detailwrap {
    display: flex;
    justify-content: space-between;
  }

  .footer__details--main {
    flex-basis: 45%;
  }

  .footer__linkwrap {
    flex-direction: column;
  }
}
